<div class="container">
  <div class="menu">
    <div class="button-group">
      <button [ngClass]="{'active': isAllSelected, 'side-border-right': isAllSelected}" (click)="isAllSelected = !isAllSelected" class="button">All</button>
      <button [ngClass]="{'active': !isAllSelected, 'side-border-left': !isAllSelected}" (click)="isAllSelected = !isAllSelected" class="button">My faves</button>
    </div>
  </div>
  <div class="select">
    <select class="select-text" [(ngModel)]="selection" (change)="selectionChange(selection)" required>
      <option style="height: 50px;" value="" disabled selected></option>
      <option *ngFor="let options of selectionOptions" [value]="options.value">{{options.viewValue}}</option>
    </select>
    <label class="select-label">Select your news</label>
  </div>
  <div class="cards">
    <div class="card">
      <div class="card-content">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          3 hours ago by author
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
      </div>
      <div class="card-fav">
        <img class="card-icon" src="../../assets/icons/heart-full.svg" height="22" width="24">
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          3 hours ago by author
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
      </div>
      <div class="card-fav">
        <img class="card-icon" src="../../assets/icons/heart-empty.svg" height="22" width="24">
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          3 hours ago by author
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
      </div>
      <div class="card-fav">
        <img class="card-icon" src="../../assets/icons/heart-full.svg" height="22" width="24">
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          3 hours ago by author
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
      </div>
      <div class="card-fav">
        <img class="card-icon" src="../../assets/icons/heart-empty.svg" height="22" width="24">
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          3 hours ago by author
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
      </div>
      <div class="card-fav">
        <img class="card-icon" src="../../assets/icons/heart-full.svg" height="22" width="24">
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          3 hours ago by author
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
      </div>
      <div class="card-fav">
        <img class="card-icon" src="../../assets/icons/heart-empty.svg" height="22" width="24">
      </div>
    </div>
  </div>
  <div class="paginator-block">
    <div class="paginator">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#" class="active">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">7</a>
      <a href="#">8</a>
      <a href="#">9</a>
      <a href="#">&raquo;</a>
    </div>
  </div>
</div>
