<div class="container" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
  <div class="menu">
    <div class="button-group">
      <button [ngClass]="{'active': isAllSelected, 'side-border-right': isAllSelected}" (click)="isAllSelected = !isAllSelected" class="button">All</button>
      <button [ngClass]="{'active': !isAllSelected, 'side-border-left': !isAllSelected}" (click)="isAllSelected = !isAllSelected" class="button">My faves</button>
    </div>
  </div>
  <div [ngClass]="{'hide': !isAllSelected}" class="select">
    <select class="select-text" [(ngModel)]="selection" (change)="selectionChange(selection)" required>
      <option style="height: 50px;" value="" disabled selected></option>
      <option *ngFor="let options of selectionOptions" [value]="options.value">{{options.viewValue}}</option>
    </select>
    <label class="select-label">Select your news</label>
  </div>
  <div *ngIf="isAllSelected" class="cards">
    <div class="card" *ngFor="let item of data">
      <div class="card-content" (click)="navigateToUrl(item.story_url)">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          {{item.created_at | timeAgo}} by {{item.author}}
        </div>
        <div class="card-body">
          {{item.story_title}}
        </div>
      </div>
      <div class="card-fav" (click)="toogleFavorite(item)">
        <img class="card-icon" [src]="checkFavorite(item.objectID) ? '../../assets/icons/heart-full.svg' : '../../assets/icons/heart-empty.svg'" height="22" width="24">
      </div>
    </div>
  </div>
  <div *ngIf="!isAllSelected" class="favorites">
    <div class="cards">
      <div class="card" *ngFor="let item of favorites">
        <div class="card-content" (click)="navigateToUrl(item.story_url)">
          <div class="card-head">
            <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
            {{item.created_at | timeAgo}} by {{item.author}}
          </div>
          <div class="card-body">
            {{item.story_title}}
          </div>
        </div>
        <div class="card-fav" (click)="toogleFavorite(item)">
          <img class="card-icon" [src]="checkFavorite(item.objectID) ? '../../assets/icons/heart-full.svg' : '../../assets/icons/heart-empty.svg'" height="22" width="24">
        </div>
      </div>
    </div>
  </div>
</div>
<button [ngClass]="{'hide': !scrollToTopButtonCanShow}" class="go-up-button" (click)="scrollTop()">&#8249;</button>
