.container {
  margin: 0px 150px 20px;
}

.menu {
  margin: 70px auto;
  max-width: fit-content;
}

.button {
  width: 98px;
  height: 31px;
  border-radius: 2px;
  color: #606060;
  background: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px #d6d6d6;
}

.active {
  border: solid 1px #1797ff;
  color: #1797ff;
}

.side-border-right {
  border-right: 0;
}

.side-border-left {
  border-left: 0;
}


.wrap {
  right: 0;
  top: 40%;
  width: 350px;
  left: 0;
  margin: 0 auto;
}

.select {
  font-family: Roboto;
  position: relative;
  width: 240px;
  transition: 0.5s ease all;
}

.select:after {
  position: absolute;
  top: 15px;
  right: 10px;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid #ff000000;
  border-top: 6px solid rgb(0 0 0);
  pointer-events: none;
}

.cards {
  margin-top: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;
  grid-auto-flow: row;
}

.card {
  border-radius: 6px;
  border: solid 1px #979797;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  transition: 0.2s ease all;
  max-height: 90px;
  height: 90px;
}

.card:hover {
  opacity: 0.4;
  transition: 0.2s ease all;
}

.card-content {
  padding: 0px 26px;
  cursor: pointer;
  max-width: 100%;
}

.card-head {
  font-family: Roboto;
  font-size: 11px;
  color: #767676;
  padding-top: 16px;
}

.card-head-icon {
  vertical-align: text-bottom;
  bottom: -1px;
  padding-right: 8px;
  position: relative;
}

.card-body {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.25px;
  color: #6b6b6b;
  padding: 7px 0px 14px;
}

.card-fav {
  background-color: rgb(96, 96, 96, 0.06);
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 68px;
}

.paginator {
  padding-top: 96px;
  display: inline-block;
}

.paginator-block {
  display: flex;
  justify-content: center;
}

.paginator a {
  margin: 0px 4px;
  color: black;
  float: left;
  padding: 4px 12px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.57;
  border-radius: 6px;
  border: solid 1px #d9d9d9;
}

.paginator a.active {
  color: white;
  border-radius: 6px;
  background-color: #1890ff;
  border: solid 1px #1890ff;

}

.paginator a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.go-up-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  visibility: visible;
  font-size: 31px;
  width: 43px;
  height: 43px;
  border-radius: 23px;
  color: #dfdfdf;
  transform: rotate(90deg);
  background-color: #3b3b3b !important;
  border: none;
  transition: visibility 0s linear 300ms, opacity 300ms;
  padding-bottom: 4px !important;
}

@media (max-width: 1100px) and (min-width: 951px) {
  .container {
    margin: 0px 70px 20px;
  }

  .menu {
    margin: 60px auto;
  }
}

@media (max-width: 950px) and (min-width: 801px) {
  .container {
    margin: 0px 30px 20px;
  }

  .menu {
    margin: 50px auto;
  }
}

@media (max-width: 800px) {
  .container {
    margin: 0px 10px 20px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .menu {
    margin: 40px auto;
  }
}


.dropbtn {
  background-color: transparent;
  width: 240px;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  cursor: pointer;
  font-family: Roboto;
  text-align: start;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0 2px 2px 0 #dad8d8;
  z-index: 1;
}

.dropdown-content div {
  padding: 12.5px 16px;
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.57;
  color: #343434;
  cursor: pointer;
}

.react-img {
  position: relative;
  left: -4px;
  padding-right: 9px;
}

.angular-img {
  padding-right: 13px;
}

.vuejs-img {
  position: relative;
  left: -2px;
  padding-right: 11px;
}

.dropdown-content div:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f2f2f2;
}
