<div class="container" infiniteScroll [infiniteScrollDistance]="2" [alwaysCallback]="true" (scrolled)="onScroll()">
  <div #top class="menu">
    <div class="button-group">
      <button [ngClass]="{'active': isAllSelected, 'side-border-right': isAllSelected}" (click)="isAllSelected = !isAllSelected" class="button">All</button>
      <button [ngClass]="{'active': !isAllSelected, 'side-border-left': !isAllSelected}" (click)="isAllSelected = !isAllSelected" class="button">My faves</button>
    </div>
  </div>
  <div [ngClass]="{'hide': !isAllSelected}" class="select">
    <div class="dropdown">
      <button class="dropbtn">
        {{(selection | selectionPipe) || 'Select your news'}}
      </button>

      <div class="dropdown-content">
        <div (click)="selectionChange('angular')">
          <img src="../../assets/icons/angular.png" class="angular-img" width="20" height="22">Angular</div>
        <div (click)="selectionChange('reactjs')">
          <img src="../../assets/icons/react.png" class="react-img" width="24" height="20">React</div>
        <div (click)="selectionChange('vuejs')">
          <img src="../../assets/icons/vuejs.png" class="vuejs-img" width="22" height="19"> Vuejs</div>
      </div>
    </div>
  </div>
  <div *ngIf="isAllSelected" class="cards">
    <div class="card" *ngFor="let item of data">
      <div class="card-content" (click)="navigateToUrl(item.story_url)">
        <div class="card-head">
          <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
          {{item.created_at | timeAgo}} by {{item.author}}
        </div>
        <div class="card-body">
          {{item.story_title}}
        </div>
      </div>
      <div class="card-fav" (click)="toogleFavorite(item)">
        <img class="card-icon" [src]="checkFavorite(item.objectID) ? '../../assets/icons/heart-full.svg' : '../../assets/icons/heart-empty.svg'" height="22" width="24">
      </div>
    </div>
  </div>
  <div *ngIf="!isAllSelected" class="favorites">
    <div class="cards">
      <div class="card" *ngFor="let item of favorites">
        <div class="card-content" (click)="navigateToUrl(item.story_url)">
          <div class="card-head">
            <img class="card-head-icon" src="../../assets/icons/clock.svg" height="16" width="16">
            {{item.created_at | timeAgo}} by {{item.author}}
          </div>
          <div class="card-body">
            {{item.story_title}}
          </div>
        </div>
        <div class="card-fav" (click)="toogleFavorite(item)">
          <img class="card-icon" [src]="checkFavorite(item.objectID) ? '../../assets/icons/heart-full.svg' : '../../assets/icons/heart-empty.svg'" height="22" width="24">
        </div>
      </div>
    </div>
  </div>
</div>
<button [ngClass]="{'hide': !scrollToTopButtonCanShow}" class="go-up-button" (click)="scrollTop(top)">&#8249;</button>
